
@model FaceRecognitionDotNet.Front.Models.DetectionViewModel

@{
   
}

<h1>@ViewData["Title"]</h1>

<p>Upload image file to detect face</p>

<script src="~/js/canvas.js"></script>
<style type="text/css">
    canvas {
        border: solid 3px #000;
    }
</style>

<form method="post" enctype="multipart/form-data" asp-controller="Detection" asp-action="FileUpload">
    <div class="form-group">
        <div class="col-md-4">
            <input type="file" name="files" multiple />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<table>
    @if (@Model?.Images != null)
    {
        foreach (var @image in @Model.Images)
        {
            if (!string.IsNullOrEmpty(@image.Data))
            {
                <tr>
                    <td>@image.Name (@image.Width x @image.Height)</td>
                </tr>
                <tr>
                    <td>
                        <canvas id="SrcCanvas"
                                style="height:90%;width:100%;"></canvas>

                        <script type="text/javascript">
                            canvas_init('@Html.Raw(@image.Data)');
                        </script>
                    </td>
                </tr>
            }
        }
    }
</table>