
@model FaceRecognitionDotNet.Front.Models.DetectionViewModel;

@{
    ViewData["Title"] = "Detection";
}

<h1>@ViewData["Title"]</h1>

<script src="~/js/canvas.js"></script>
<script src="/lib/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<style type="text/css">
    .box {
        display: inline-block;
        vertical-align: middle;
    }
</style>

<form method="post" enctype="multipart/form-data" asp-controller="Detection" asp-action="FileUpload">
    <div class="form-group">
        <p>Upload image file to detect face</p>

        <div class="box">
            <div class="custom-file">
                <input type="file" name="files" class="custom-file-input" id="inputFile">
                <label class="custom-file-label" for="inputFile">Choose file</label>
            </div>
        </div>

        <div class="box">
            <input type="submit" class="btn btn-primary" value="Upload" />
        </div>

        <hr />

        <script>
            bsCustomFileInput.init();
        </script>
    </div>
</form>

<table>
    @if (@Model?.Images != null)
    {
        for (var index = 0; index < @Model.Images.Length; index++)
        {
            var image = @Model.Images[index];
            var detectAreas = @Model.DetectAreas[index];

            if (!string.IsNullOrEmpty(@image.Data))
            {
                var areas = @Html.Raw(Json.Serialize(detectAreas));

                <tr>
                    <td>@image.Name (@image.Width x @image.Height)</td>
                </tr>
                <tr>
                    <td>
                        <canvas id="SrcCanvas"
                                style="height: 100%; width: 100%;">
                        </canvas>

                        <script type="text/javascript">
                            draw_detect_result('@Html.Raw(@image.Data)', @areas);
                        </script>
                    </td>
                </tr>
            }
        }
    }
</table>