
@model FaceRecognitionDotNet.Front.Models.DetectionViewModel

@{
   
}

<h1>@ViewData["Title"]</h1>

<p>Upload image file to detect face</p>

@*<style type="text/css">
        canvas {
            border: solid 3px #000;
        }
    </style>

    <canvas id="SrcCanvas"
            style="height:90%;width:100%;"></canvas>

    <script src="~/js/canvas.js"></script>
    <script type="text/javascript">
        canvas_init("/img/work.img");
    </script>*@

<form method="post" enctype="multipart/form-data" asp-controller="Detection" asp-action="FileUpload">
    <div class="form-group">
        <div class="col-md-4">
            <input type="file" name="files" multiple />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<table>
    @if (@Model?.Images != null)
    {
        foreach (var @image in @Model.Images)
        {
            if (!string.IsNullOrEmpty(@image.Data))
            {
                <tr>
                    <td>@image.Name (@image.Width x @image.Height)</td>
                </tr>
                <tr>
                    <td>
                        <img src="@image.Data" width="250px" height="200px" alt="Alternate Text" />
                    </td>
                </tr>
            }
        }
    }
</table>