
@model FaceRecognitionDotNet.Front.Models.DetectionViewModel;

@{
    ViewData["Title"] = "Detection";
}

<h1>@ViewData["Title"]</h1>

<script src="~/js/canvas.js"></script>
<script src="/lib/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<style type="text/css">
    .form-box {
        display: inline-block;
        vertical-align: middle;
    }

    .detect-flex-container {
        display: flex;
    }

    .detect-flex-left {
        width: 100%;
        vertical-align: top;
    }

    .detect-flex-right {
        margin: 0 0 0 20px;
        vertical-align: top;
    }
</style>

<form method="post" enctype="multipart/form-data" asp-controller="Detection" asp-action="FileUpload">
    <div class="form-group">
        <p>Upload image file to detect face</p>

        <div class="form-box">
            <div class="custom-file">
                <input type="file" name="files" class="custom-file-input" id="inputFile">
                <label class="custom-file-label" for="inputFile">Choose file</label>
            </div>
        </div>

        <div class="form-box">
            <input type="submit" class="btn btn-primary" value="Upload" />
        </div>

        <hr />

        <script>
            bsCustomFileInput.init();
        </script>
    </div>
</form>

@if (@Model?.Image != null)
{
    var image = @Model.Image;
    var detectAreas = @Model.DetectAreas;

    if (!string.IsNullOrEmpty(@image.Data))
    {
        var areas = @Html.Raw(Json.Serialize(detectAreas));
        
        <p>@image.Name (@image.Width x @image.Height)</p>

        <div class="detect-flex-container">
            <div class="detect-flex-left">
                <canvas id="SrcCanvas"
                        style="height: 100%; width: 100%;">
                </canvas>

                <script type="text/javascript">
                draw_detect_result('@Html.Raw(@image.Data)', @areas);
                </script>
            </div>
            <div class="detect-flex-right">
                <table class="table">
                    <tr>
                        <th>Left</th>
                        <th>Top</th>
                        <th>Right</th>
                        <th>Bottom</th>
                    </tr>
                    @foreach (var area in detectAreas)
                    {
                        var left = area.X;
                        var top = area.Y;
                        var right = area.X + area.Width;
                        var bottom = area.Y + area.Height;
                        <tr>
                            <td>@left</td>
                            <td>@top</td>
                            <td>@right</td>
                            <td>@bottom</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
}
